/* width */

body {
    height: 100vh;
    background-color: rgb(37, 169, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

p {
    display: inline-block;
    margin-bottom: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    display: inline-block;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*firefox için  scroll bar duzenleme kodu*/

:root {
    scrollbar-color: rgb(247, 18, 18) rgb(243, 140, 4, 0) !important;
    scrollbar-width: thin !important;
}

/*firefox için  scroll bar duzenleme kodu*/

/*chrome için scrollbar duzenleme kodu.*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(224, 109, 109); */
    border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(0, 110, 255);
    border-radius: 1px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004eb3;
}

.testScroll {
    width: 800px;
    height: 200px;
    background-color: rgb(41, 174, 226);
    overflow-y: scroll;
    scrollbar-color: rgb(10, 146, 209) rgb(243, 140, 4, 0) !important;
    scrollbar-width: thin !important;
    border-radius: 4px;
    padding: 3rem;
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
}